services:
  - type: web
    name: collage-backend
    env: go
    buildCommand: go build -o main .
    startCommand: ./main
    envVars:
      - key: DBSOURCE
        fromDatabase:
          name: collage-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: collage-redis
          property: connectionString
      - key: APIADDR
        value: 0.0.0.0:10000
      - key: SECRET_KEY
        value: abcdefghijklmnopqrstuvwxyz123456

databases:
  - name: collage-postgres
    databaseName: collage_project_backend
    user: collage_user

  - name: collage-redis